<div> 
    <h2> လက်ရှိ မြန်မာပြည်တွင် covid-19 ဖြစ်ပွားနေသည့်အခြေအနေ </h2>
    <table class="table table-hover"> 
        <tr>
            <td>ဓာတ်ခွဲစစ်ဆေးသူစုစုပေါင်း </td>
            <td> ၅၁၄၅၁</td>
            <td>စောင့်ကြည့်လူနာစုစုပေါင်း </td >
            <td>၅၅၂၄</td>
          </tr>
          <tr>
            <td style="color:green">ပိုးတွေ့ပြန်လည်သက်သာ </td>
            <td style="color:green">၁၇၅</td> 
            <td style="color:red">ပိုးတွေ့သေဆုံးလူနာ </td>
            <td style="color:red">၆</td>
          </tr>
          <tr>
            <td colspan="2" style="color:orange">ပိုးတွေ့ </td>
            <td style="color:orange"> ၂၆၂</td>
          </tr>
    </table>
</div>