<table>
    <thead>
      <tr>
        <th>အသက်</th>
        <th>သေဆုံးနှုန်း(အတည်ပြုုထားသည့်ဖြစ်စဉ်)</th>
        <th>သေဆုံးနှုန်း(ဖြစ်စဉ်အားလုံး)</th>
      </tr>
      <tr> 
          <td> ၈၀ နှင့်အထက် </td>
          <td> ၂၁.၉&percnt; </td>
          <td> ၁၄.၈ &percnt; </td>
      </tr>
      <tr> 
        <td> ၇၀ - ၇၉ </td>
        <td>  </td>
        <td> ၈&percnt; </td>
    </tr>
    <tr> 
        <td> ၆၀ - ၆၉ </td>
        <td>  </td>
        <td> ၃.၆&percnt; </td>
    </tr>
    <tr> 
        <td> ၅၀ - ၅၉ </td>
        <td>   </td>
        <td> ၁.၃&percnt; </td>
    </tr>
    <tr> 
        <td> ၄၀ - ၄၉ </td>
        <td>  </td>
        <td> ၀.၄&percnt; </td>
    </tr>
    <tr> 
        <td> ၃၀ - ၃၉ </td>
        <td>  </td>
        <td> ၀.၂ &percnt;</td>
    </tr>
    <tr> 
        <td> ၂၀ - ၂၉ </td>
        <td>   </td>
        <td> ၀.၂&percnt; </td>
    </tr>
    <tr> 
        <td> ၁၀ - ၁၉ </td>
        <td>   </td>
        <td> ၀.၂ &percnt;</td>
    </tr>
    <tr> 
        <td> ၀ - ၉ </td>
        <td>   </td>
        <td> ၀.၀&percnt; </td>
    </tr>
    </thead>
    <tbody>
</table> 